Source: ros-kinetic-genpy
Section: misc
Priority: optional
Maintainer: Mabel Zhang <mabel@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python-numpy, python-setuptools, ros-kinetic-catkin (>= 0.5.78), ros-kinetic-genmsg
Homepage: http://wiki.ros.org/genpy
Standards-Version: 3.9.2

Package: ros-kinetic-genpy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-yaml, ros-kinetic-genmsg
Description: Python ROS message and service generators.
